* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  font-family: Helvetica;
  text-align: center;
  color: white;
  margin: 20px;
}

h2 {
  font-size: 30px;
  font-family: Helvetica;
  text-align: center;
  color: white;
  margin: 20px;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  grid-template-areas:
    "home css n1 n2 n3";
  font-size: 30px;
  font-family: Helvetica;
  text-align: center;
  text-color: White;
  background: black;
  /* Old browsers */
  background: tan;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(-45deg, #ffffff, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: radial-gradient(#aaa, #000);
  background-image: url(media/s_shutterstock_126135899.jpg);
  background-repeat: repeat;
  background-size: cover;
  padding: 20px;
}

.main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 5fr 2fr;
  grid-gap: 20px;
  grid-template-areas:
    "header"
    "content"
    "footer";
    /* Old browsers */
    background: #222;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, #ffffff, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: radial-gradient(#aaa, #000);
    background-image: url(media/5881023-pizza-wallpaper.jpg);
    width: auto;
    heigth: auto;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(20,20,20,.7);
    padding: 150px;
    border: solid black 3px;
}

.heading {
  grid-area: header;
  border: solid rgba(255, 228, 181, .6) 3px;
  border-radius: 3px;
  box-shadow: 2px 2px 7px 4px #111;
  margin: 50px;
  padding: 15px;
}

.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "left-content right-content";
}

.subheading {
  font-size: 50px;
  font-family: "Brush Script MT";
  text-align: center;
  color: indianred;
  text-shadow: black 0px 2px 2px;
  margin: 20px;
}

.basic-text {
  font-family: Helvetica;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: white;
  margin: 40px;
  padding: 30px;
  text-shadow: black 0px 0px 3px;
}

#Zutaten {
  grid-area: "left-content";
  border: solid rgba(255, 228, 181, .6) 3px;
  border-radius: 3px;
  background-color: rgba(255, 228, 181, .6);
  box-shadow: 2px 2px 7px 4px #111;
  margin: 120px;
}

#Zutaten ul {
  list-style-type: none;
}

#Zubereitung {
  grid-area: "right-content";
  border: solid rgba(255, 228, 181, .6) 3px;
  border-radius: 2px;
  background-color: rgba(255, 228, 181, .6);
  list-style-position: inside;
  margin: 120px;
  padding: 30px 30px 30px 50px;
  box-shadow: 2px 2px 7px 4px #111;
}

#Zubereitung ol {
  counter-reset: li;
  list-style-type: none;
}

#Zubereitung ol li{
  position: relative;
}

#Zubereitung ol li:before {
  content: counter(li)'.';
  counter-increment: li;
  position: absolute;
  right: 100%;
  margin-right: 0.5em;
}

nav a {
  background-color: rgba(100,100,100, 0.7);
  border: solid rgba(20, 20, 20, 0.6) 3px;
  padding: 20px;
  color: white;
  text-shadow: black 0px 0px 3px;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

nav #nav_home {  grid-area: home;}
nav #nav_css {  grid-area: css;}
nav #nav1 {  grid-area: n1;}
nav #nav2 {  grid-area: n2;}
nav #nav3 {  grid-area: n3;}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 480px) and
                       (orientation: landscape) {
   
}
